<div class="container">
  <div class="row">
    @for (product of ProductList; track product.productId) {
    <div class="col-md-3 mt-3 col-sm-4">
      <div class="card" style="width: 18rem">
        @if (!product.isPurchased) {
        <img [src]="product.productImgUrl" class="card-img-top" alt="" />
        } @if (product.isPurchased) {
        <div class="thank-you">
          Thanks for purchasing from our Store {{clientName}}
        </div>
        }
        <div class="card-body">
          <h5 class="card-title">{{ product.productName }}</h5>
          <p class="card-text">Price: ${{ product.productPrice }}</p>
          <p class="card-text">
            Quantity: {{ product.productQuantity }} ({{
            getQuantityStatus(product.productQuantity) }})
          </p>
          <button
            class="btn btn-primary"
            (click)="buyProduct(product)"
            [disabled]="product.productQuantity === 0"
          >
            Buy
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
