<div class="container">
  <div class="row">
    @for(product of products ; track product) {
    <div class="col-md-3 mt-5">
      <div class="card" style="width: 18rem">
        <img [src]="product.productImgUrl" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{product.productName}}</h5>
          <p class="card-text">{{product.productDetails}}</p>
          <p>{{product.productQuantity}}</p>
          <p>{{product.productPrice}}</p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    }
  </div>
</div>
