<div class="container">
  <div class="row">
    @for (product of filteredProducts ; track product.productId) {
    <div class="col-md-3 mt-3 col-sm-4">
      <div class="card" style="width: 18rem" appProductCard>
        @if (!product.isPurchased) {
        <img [src]="product.productImgUrl" class="card-img-top" alt="" />
        } @if (product.isPurchased) {
        <div class="thank-you">
          Thanks for purchasing from our Store {{clientName}}
        </div>
        }
        <div class="card-body">
          <h5 class="card-title">{{ product.productName }}</h5>
          <p class="card-text">Price: {{ product.productPrice | currency }}</p>
          <div>
            <div class="d-flex justify-content-between align-items-center">
              <p
                class="card-text"
                [ngClass]="{ 'yellow-bg': product.productQuantity === 1 }"
                [ngStyle]="{ 'background-color': product.productQuantity === 1 ? 'yellow' : '' }"
              >
                Quantity: {{ product.productQuantity }}
              </p>

              @switch (product.productQuantity) { @case(0){
              <p class="card-text text-danger">Out of Stock</p>
              } @case(1){
              <p class="card-text text-warning">Last One Item</p>
              } @case(2){
              <p class="card-text text-warning">Last Two Items</p>
              } @default{
              <p class="card-text text-success">In Stock</p>
              } }
            </div>
          </div>
          <button
            class="btn btn-primary"
            (click)="buyProduct(product)"
            [disabled]="product.productQuantity === 0"
            (click)="addToCart(product)"
          >
            Buy
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>

<div
  class="container d-flex flex-row justify-content-around align-items-center"
>
  <p>{{creditNumber | creditFormat}}</p>
  <p>{{date | date: "short"}}</p>
</div>
