<div class="d-flex align-items-center justify-content-center mt-5">
  <div class="card border-primary shadow-sm" style="width: 20rem">
    <div class="position-relative">
      <span class="badge bg-warning position-absolute top-0 start-0 m-2"
        >-20%</span
      >

      <button
        type="button"
        class="btn btn-light rounded-circle shadow position-absolute top-0 end-0 m-2 p-1"
      >
        <i class="bi bi-heart text-muted"></i>
      </button>

      <img
        [src]="singleproduct?.productImgUrl"
        class="card-img-top object-fit-contain"
        alt="Product Image"
        style="height: 270px"
      />
    </div>

    <div class="card-body">
      <h5 class="card-title text-dark">{{singleproduct?.productName}}</h5>

      <div class="d-flex justify-content-between align-items-center">
        <span class="h5 text-primary"
          >{{singleproduct?.productPrice | currency}}</span
        >
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between gap-2 mt-4">
  <a
    [hidden]="currentIndex == 0"
    (click)="prev()"
    class="btn btn-outline-primary d-flex align-items-center"
  >
    <i class="bi bi-arrow-left"></i>
    <span class="ms-2 fw-bold">Back</span>
  </a>

  <a
    [hidden]="currentIndex == productIds.length - 1"
    (click)="next()"
    class="btn btn-outline-primary d-flex align-items-center"
  >
    <span class="me-2 fw-bold">Next</span>
    <i class="bi bi-arrow-right"></i>
  </a>
</div>
