<div class="container mt-5" style="max-width: 400px;">
  <h3>Login</h3>
  <form (ngSubmit)="login()">
    <div class="mb-3">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
